.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        %p.current__user
          ryuji
      %ul.top-items__menu
        %li.top-items__btn__edit
          = link_to "#" do
            = icon('fas', 'edit')
        %li.top-items__btn__cog
          = link_to "#" do
            = icon('fas', 'cog')
  .side-bar__group-list
    .group-box
      %p.group-box__group-name
        Techcamp
      %p.group-box__comment
        まだメッセージはありません



